/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.location {
    margin: 10px 0;
    padding-top: 10px;
}
.location label{
    padding-left: 10px;
    padding-right: 5px;
}
.location span{
    display: block;
    margin: 10px 10px 10px 0;
}

















